<div class="my-4 container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2>Register form</h2>
      <div class="card ">
        <div class="card-body bg-light">
          <form #myForm='ngForm'>
            <div class="form-group">
              <label>Full Name:</label>
              <input type="text" #name='ngModel' [class.is-invalid]="name.touched && name.invalid"
                class="form-control is-invalid" name="name" [(ngModel)]="user.name" required>
              <div *ngIf="name.touched && name.invalid">
                <small class="text-danger">"Name must be required</small>
              </div>
            </div>
            <div class="form-group">
              <label>Email id:</label>
              <input type="email" #email='ngModel' [class.is-invalid]="email.touched && email.invalid"
                class="form-control is-invalid" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="email" [(ngModel)]="user.email" required>
              <div *ngIf="email.touched && email.invalid">
                <small class="text-danger" *ngIf="email.errors.required">"Email must be required</small>
                <small class="text-danger" *ngIf="email.errors.pattern">*Enter a valid email</small>
              </div>
            </div>
            <div class="form-group">
              <label>User name:</label>
              <input type="text" #username="ngModel" [class.is-invalid]="username.touched && username.invaid"
                class="form-control is-invalid" name="username" [(ngModel)]="user.username" minlength="6" required>
              <div *ngIf="username.touched && username.invalid">
                <small class="text-danger" *ngIf="username.errors.required">*Username must be required</small>
                <small class="text-danger" *ngIf="username.errors.minlength">Username atleast 6 characters are
                  required</small>
              </div>
            </div>
            <div class="form-group">
              <label>Password:</label>
              <input type="password" #pswd="ngModel" [class.is-invalid]="pswd.touched && pswd.invaid"
                class="form-control is-invalid" name="pswd" [(ngModel)]="user.pswd" minlength="6" required>
              <div *ngIf="pswd.touched && pswd.invalid">
                <small class="text-danger" *ngIf="pswd.errors.required">*password must be required</small>
                <small class="text-danger" *ngIf="pswd.errors.minlength">password atleast 6 characters are
                  required</small>
              </div>
            </div>
            <input type="submit" class="bg-success" name="Register" (click)="register()">
            <button type="button" class="mx-3 bg-primary" (click)="login()">Login</button>
            
          </form>
        </div>
      </div>
    </div>
  </div>
</div>